<%= turbo_frame_tag chirp do %>
  <article class="card">
    <div class="chirp-box">
      <div class="profile">
        <%= image_tag chirp.user.avatar_url, 
                      class: "avatar",
                      alt: "#{chirp.user.username} avatar" %>
      </div>
      <div class="chirp-contents">
        <div class="username">
          @<%= chirp.user.username %>
        </div>
        <div class="message">
          <%= chirp.content %>
        </div>
      </div>
    </div>
    <% if current_user == chirp.user %>
      <div class="chirp-actions">
        <%= link_to "âœï¸", edit_chirp_path(chirp) %>
        <%= button_to "ðŸ—‘",
                      chirp_path(chirp),
                      method: :delete,
                      data: {
                        turbo_confirm: "Are you sure?"
                      } %>
      </div>
    <% end %>
  </article>
<% end %>
