<%= turbo_frame_tag chirp do %>
  <article class="card card--chirp">
    <div class="chirp">
      <div class="chirp__details">
        <%= image_tag chirp.user.avatar_url,
              class: "avatar avatar--chirp",
              alt: "#{chirp.user.username} avatar" %>
        <div class="chirp__content">
          <div class="chirp__username">
            @<%= chirp.user.username %>
          </div>
          <div class="chirp__message">
            <%= chirp.content %>
          </div>
        </div>
      </div>
      <% if current_user == chirp.user %>
        <div class="chirp__actions">
          <%= link_to "âœï¸", edit_chirp_path(chirp) %>
          <%= button_to "ðŸ—‘",
                chirp_path(chirp),
                method: :delete,
                data: {
                  turbo_confirm: "Are you sure?",
                } %>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
